In [78]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [83]:
data = pd.read_csv('train.csv' ,  sep=';', encoding='1251')
with pd.option_context(
    'display.max_colwidth', 100,
    'expand_frame_repr', False,
    'display.max_columns', 12
):
    print(data.head(10))
data.pop('Name')
data.pop('PassengerId')
data.pop('Survived')
data.pop('Pclass')
data.pop('SibSp')
data.pop('Parch')
data.pop('Ticket')
data.pop('Fare')
data.pop('Cabin')
print('--------------------------------------------------------------------------------------------------------------------------')
print(data)

   PassengerId  Survived  Pclass                                                 Name     Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0            1         0       3                              Braund, Mr. Owen Harris    male  22.0      1      0         A/5 21171   7.2500   NaN        S
1            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0      1      0          PC 17599  71.2833   C85        C
2            3         1       3                               Heikkinen, Miss. Laina  female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
3            4         1       1         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0            113803  53.1000  C123        S
4            5         0       3                             Allen, Mr. William Henry    male  35.0      0      0            373450   8.0500   NaN        S
5            6         0       3                                     Moran, Mr. James    male   NaN      0      0            330877   8.4583   NaN        Q
6            7         0       1                              McCarthy, Mr. Timothy J    male  54.0      0      0             17463  51.8625   E46        S
7            8         0       3                       Palsson, Master. Gosta Leonard    male   2.0      3      1            349909  21.0750   NaN        S
8            9         1       3    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0      2            347742  11.1333   NaN        S
9           10         1       2                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1      0            237736  30.0708   NaN        C
--------------------------------------------------------------------------------------------------------------------------
        Sex   Age Embarked
0      male  22.0        S
1    female  38.0        C
2    female  26.0        S
3    female  35.0        S
4      male  35.0        S
..      ...   ...      ...
886    male  27.0        S
887  female  19.0        S
888  female   NaN        S
889    male  26.0        C
890    male  32.0        Q

[891 rows x 3 columns]

In [84]:
data['Age']. median()

28.0

In [93]:
data[['Age']]=data[['Age']].fillna(value=28)
with pd.option_context(
    'display.max_colwidth', 100,
    'expand_frame_repr', False,
    'display.max_rows', 20
):
    print(data)

        Sex   Age Embarked
0      male  22.0        S
1    female  38.0        C
2    female  26.0        S
3    female  35.0        S
4      male  35.0        S
..      ...   ...      ...
886    male  27.0        S
887  female  19.0        S
888  female  28.0        S
889    male  26.0        C
890    male  32.0        Q

[891 rows x 3 columns]

In [101]:
df=pd.DataFrame({'Sex':['male', 'female']})
df['Sex']=df['Sex'].astype('category')
df['Sex_code']=df['Sex'].cat.codes


print(df)

      Sex  Sex_code
0    male         1
1  female         0

In [105]:
ds=pd.DataFrame({'Embarked':['S', 'C', 'Q']})
ds['Embarked']=ds['Embarked'].astype('category')
ds['Embarked_code']=ds['Embarked'].cat.codes
print(ds)

  Embarked  Embarked_code
0        S              2
1        C              0
2        Q              1